.navbar-brand{
    color: black;
    font-family: 600;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;
}
.container-fluid{
    color: black;
}
.nav-item{
    color: black;
    text-align: center;
    font-weight: 400;
}