.devices{
    width: 100%;
}
.align-item-center{
    align-items: center !important;
}
.mb-7{
    margin-bottom: 20px !important;
    width: 100%;
    height: auto;
}
.md-10{
    margin-bottom: 64px;
    font-weight: 500;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.py-14{
    padding-bottom: 160px !important;
    
}
.mb-6{
    margin-bottom: 24px !important;
    font-size: 36px;
}
.font-size-lg{
    font-size: 18px !important;
}
.container{
    max-width: 1140px;
    width: 100%;
}
.bg-h-100{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto 140% !important;
    
}